/* キーを「@includeで指定する引数」、値を「min-widthのサイズ」として、Map（連想配列）を作成 */
$break-point: (
    more-sm: 768px,
    more-sm-plus: 769px,
    more-md: 1024px,
    more-lg: 1240px,
    more-xxlg: 2000px
);

// メディアクエリを@mixinで定義
@mixin media( $key ) {
    @media ( min-width: map-get( $break-point, $key )) {
        @content;
    }
}


@keyframes onHover {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
}