---
import SoundBtn from './SoundBtn.astro';
---

<footer class="fixed bottom-0 left-0 grid grid-cols-2 gap-x-[8px] items-end w-full h-auto pb-s-20-60 px-s-16-60 text-white mix-blend-difference z-10 lg:grid-cols-6 lg:gap-x-4 lg:pb-more-40">
    <div @click="isMenuOpen = !isMenuOpen" id="btn-menu" data-name="btn-menu" class="lg:hidden">menu</div>

    <div class="grid grid-cols-1 gap-y-4 lg:col-span-5 lg:grid-cols-5 lg:gap-x-4">
        <div class="grid grid-cols-1 gap-y-1 lg:col-span-2 lg:col-start-5 lg:grid-cols-2 lg:gap-x-4">
            <div class="flex items-center gap-x-6">
                <a href="http://" target="_blank" rel="noopener noreferrer">Instagram</a>
                <a href="http://" target="_blank" rel="noopener noreferrer">X</a>
                <a href="mailto:r.takahasii@gmail.com">mail</a>
            </div>
        </div>
        <div id="scroll" class="lg:col-start-5">{ `{ scroll }` }</div>
    </div>
</footer>
<style>

</style>
