---

---

<div 
    class="lock-modal fixed top-0 left-0 flex items-center justify-center w-full h-full bg-base z-[9999]"
    x-data="{ isVisible: true, inputSequence: '' }"
    x-init="
        const targetWord = 'george';
        $watch('inputSequence', (value) => {
            if (value.toLowerCase() === targetWord) {
                isVisible = false;
            }
        });
    "
    x-show="isVisible"
>
    <input class="h-[2.4em] w-[300px] border-accent  border rounded-md text-accent text-center focus:outline-none" type="text" x-model="inputSequence" placeholder="ENTER THE PASSWORD" />
</div>