---
interface Props {
	classNameWrapper: string;
}

const { classNameWrapper } = Astro.props;
---

<div class={`flex ${classNameWrapper}`}>
	<span>sound(off)</span>
	<span @click="isSoundMenuOpen = !isSoundMenuOpen" class="cursor-pointer">{ `{ setting }` }</span>
</div>

<style>
</style>
